<!-- IF STOCK_SYMBOL && EXCHANGE -->
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
	<div id="analytics-platform"></div>
	<div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/widget/advanced-chart/" rel="noopener" target="_blank">Chart by TradingView</a></div>
	<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
	<script type="text/javascript">
		new TradingView.widget(
				{
					"width": "100%",
					"height": 600,
					"symbol": "{EXCHANGE}:{STOCK_SYMBOL}",
					"interval": "D",
					"timezone": "Etc/UTC",
					"theme": "Light",
					"style": "1",
					"locale": "en",
					"toolbar_bg": "#f1f3f6",
					"enable_publishing": false,
					"withdateranges": true,
					"details": true,
					"news": [
						"headlines"
					],
					"studies": [
						"ACCD@tv-basicstudies"
					],
					"container_id": "analytics-platform"
				}
		);
	</script>
</div>
<!-- TradingView Widget END -->
<!-- ENDIF -->
